@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0% {
      opacity: 1;
      transform: translate(-50%, 0) scale(1);
      filter: drop-shadow(0 0 4px #facc15) brightness(1.2);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -60px) scale(1.5);
      filter: drop-shadow(0 0 20px #facc15) brightness(2);
    }
  }

  .animate-float {
    animation: float 1s ease-out forwards;
    will-change: transform, opacity, filter;
  }
}
